[Unit]
Description=Gmail message responder
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<user_name>
WorkingDirectory=/home/<user_name>/Alerts
ExecStart=/home/<user_name>/Alerts/venv/bin/python /home/<user_name>/Alerts/gmail_message_responder.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
